<div class="sidebar-nav">
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-header"></li>
    <li>
      <%= link_to categories_path, role: 'button' do %>
        Categorias
      <% end %>
    </li>
    <li>
      <%= link_to products_path, role: 'button' do %>
        Produtos
      <% end %>
    </li>
  </ul>
</div>